openapi: 3.0.3
info:
  title: OE5ITH GeoPortal API
  description: >
    Read-only Proxy/Aggregator-API über die Backend-DB und externe Services
    (ORS Routing, Nominatim Geocoder, ADS-B/AIS Live-Tracking). Kein
    Authentifizierungsmechanismus (öffentliches GeoPortal ohne Login-Konzept).
  version: "1.0.0"
  license:
    name: Proprietary
servers:
  - url: https://map.oe5ith.at/api
    description: Produktion
  - url: http://127.0.0.1:8081
    description: Lokale Entwicklung (npm run dev:api)

paths:
  /ping.php:
    get:
      summary: Health-Check
      operationId: getPing
      responses:
        "200":
          description: API ist erreichbar
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  time:
                    type: integer
                    description: Unix-Timestamp
              example:
                status: ok
                time: 1751234567
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /db.php:
    get:
      summary: Datenbank-Health-Check (reiner Status-Code, kein Body)
      operationId: getDbHealth
      responses:
        "200":
          description: DB-Verbindung erfolgreich (leerer Body)
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "500":
          description: >
            DB-Verbindung fehlgeschlagen (Body: {"error":...} bei Connection-Fehler,
            sonst leer)

  /nah.php:
    get:
      summary: Alle NAH-Luftrettungsstationen mit berechnetem Aktiv-Status
      operationId: getNahStations
      responses:
        "200":
          description: Liste aller Stationen mit Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  refresh_at:
                    type: string
                    format: date-time
                    nullable: true
                    description: Zeitpunkt des nächsten Status-Wechsels (ISO 8601), falls bekannt
                  stations:
                    type: array
                    items:
                      type: object
                      properties:
                        osm_id: { type: string }
                        name: { type: string }
                        callsign: { type: string }
                        region: { type: string }
                        op_type: { type: string, enum: ["24/7", "daylight", "fixed"] }
                        is_night_ready: { type: boolean }
                        fixed_start: { type: string, nullable: true, example: "07:00" }
                        fixed_end: { type: string, nullable: true, example: "19:00" }
                        lat: { type: number }
                        lon: { type: number }
                        is_active: { type: boolean }
                        in_season: { type: boolean }
                        months_active:
                          type: array
                          items: { type: integer }
                        calculated_start: { type: string, format: date-time, nullable: true }
                        calculated_end: { type: string, format: date-time, nullable: true }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /nearest-stations.php:
    get:
      summary: >
        Nächstgelegene RD/NEF-Stationen zu einem Zielpunkt (mit ORS- oder Valhalla-Matrix-Fahrzeiten).
        Rate-Limiting + Referer-Check in nginx.conf (siehe
        docs/superpowers/specs/2026-08-23-routing-endpoints-public-rollout-design.md).
      operationId: getNearestStations
      parameters:
        - name: target
          in: query
          required: true
          schema: { type: string }
          description: "Koordinate als 'lat,lon'"
          example: "47.2692,11.4041"
        - name: type
          in: query
          required: false
          schema: { type: string, enum: [sew, nef], default: sew }
        - name: provider
          in: query
          required: false
          schema: { type: string, enum: [ors, valhalla], default: ors }
          description: Wählt das Routing-Backend für den Matrix-Aufruf (ORS `/matrix` bzw. Valhalla `/sources_to_targets`).
        - name: profile
          in: query
          required: false
          schema: { type: string, default: driving-car, pattern: "^[a-z0-9-]+$" }
          description: >
            Bedeutung ist abhängig von provider: bei provider=ors ein ORS-Routing-Profil
            (z.B. driving-car, driving-emergency), bei provider=valhalla ein
            Valhalla-Costing-String (z.B. auto, emergency, bicycle, pedestrian).
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 5 }
      responses:
        "200":
          description: Nach Fahrzeit sortierte Stationsliste
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    name: { type: string }
                    short_name: { type: string }
                    org: { type: string }
                    lat: { type: number }
                    lon: { type: number }
                    duration: { type: number, description: "Sekunden" }
                    distance: { type: number, description: "Meter" }
                    icon: { type: string }
        "400":
          description: "Parameter target fehlt, provider hat einen ungültigen Wert oder profile hat ein ungültiges Format"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "500":
          description: "Nur bei provider=valhalla: VALHALLA_URL nicht konfiguriert (api/config.local.php fehlt/unvollständig)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Server misconfigured: VALHALLA_URL not set in config.local.php" }

  /stations-by-region.php:
    get:
      summary: RD/NEF-Stationen eines Bundeslands
      operationId: getStationsByRegion
      parameters:
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Liste der Stationen im Bundesland
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    type: { type: string, enum: [RD, NEF] }
                    name: { type: string }
                    short_name: { type: string }
                    org: { type: string }
        "400":
          description: "Parameter state fehlt"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "500":
          description: "Datenbankfehler"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /stats.php:
    get:
      summary: Aggregierte Statistiken (NAH aktiv/gesamt pro Region, RD/NEF-Anzahl pro Bundesland)
      operationId: getStats
      responses:
        "200":
          description: Statistik-Aggregation
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated_at: { type: string, format: date-time }
                  nah:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        total: { type: integer }
                        active: { type: integer }
                  rd:
                    type: object
                    additionalProperties: { type: integer }
                  nef:
                    type: object
                    additionalProperties: { type: integer }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /geocoder.php:
    get:
      summary: Adress-Suche oder Reverse-Geocoding (Nominatim-Proxy)
      operationId: geocode
      parameters:
        - name: q
          in: query
          required: false
          schema: { type: string }
          description: "Suchbegriff (für Vorwärtssuche)"
        - name: lat
          in: query
          required: false
          schema: { type: string }
        - name: lon
          in: query
          required: false
          schema: { type: string }
        - name: reverse
          in: query
          required: false
          schema: { type: boolean }
          description: "Flag für Reverse-Geocoding (mit lat/lon)"
      responses:
        "200":
          description: "Nominatim-Response (durchgereicht), leeres Array wenn kein Parameter gesetzt"
          content:
            application/json:
              schema:
                type: array
                items: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /routing-proxy.php:
    get:
      summary: >
        Konsolidierter Proxy zu ORS und Valhalla (GET, z.B. Health-Check) — ersetzt die früheren
        getrennten Endpoints /ors.php und /valhalla.php. Rate-Limiting + Referer-Check in
        nginx.conf (siehe docs/superpowers/specs/2026-08-23-routing-endpoints-public-rollout-design.md).
      operationId: proxyRoutingGet
      parameters:
        - name: provider
          in: query
          required: false
          schema: { type: string, enum: [ors, valhalla], default: ors }
          description: Wählt das Routing-Backend.
        - name: path
          in: query
          required: false
          schema: { type: string }
          description: >
            Providerabhängige Allowlist. provider=ors: fester Wert (health/status) oder Muster
            directions/{profil}/geojson, matrix/{profil}, isochrones/{profil}, export/{profil}
            bzw. export/{profil}/topojson (Default health). provider=valhalla: route oder status
            (Default status) — sources_to_targets wird hier NIE exponiert, nur in-process von
            nearest-stations.php genutzt. Alles andere liefert 400.
      responses:
        "200":
          description: "Provider-Response (durchgereicht)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "provider oder path entspricht keinem erlaubten Wert"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid path" }
        "500":
          description: "Nur bei provider=valhalla: VALHALLA_URL nicht konfiguriert (api/config.local.php fehlt/unvollständig)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Server misconfigured: VALHALLA_URL not set in config.local.php" }
        "502":
          description: >
            Sanitisierte Fehlerantwort bei sonstigem Nicht-2xx vom Provider (z.B. Verbindungsfehler,
            oder ein vom ORS-Backend durchgereichtes 504 bei export/{profil} mit zu großer Bbox —
            GraphSidebarAdapter behandelt diesen Fall weiterhin gezielt, der HTTP-Status wird
            unverändert durchgereicht, nur der Body ist jetzt sanitisiert). Der rohe Upstream-Body
            wird nie durchgereicht, Detail nur serverseitig via error_log().
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Routing-Anfrage fehlgeschlagen" }
    post:
      summary: >
        Konsolidierter Proxy zu ORS und Valhalla (POST, z.B. Routing/Matrix/Isochrones/Graph-Export
        mit Body) — ersetzt /ors.php und /valhalla.php.
      operationId: proxyRoutingPost
      parameters:
        - name: provider
          in: query
          required: false
          schema: { type: string, enum: [ors, valhalla], default: ors }
        - name: path
          in: query
          required: false
          schema: { type: string }
          description: "Gleiche Allowlist wie beim GET-Zweig."
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: "Provider-Response (durchgereicht)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "provider oder path entspricht keinem erlaubten Wert"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid path" }
        "500":
          description: "Nur bei provider=valhalla: VALHALLA_URL nicht konfiguriert"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
        "502":
          description: "Sanitisierte Fehlerantwort bei sonstigem Nicht-2xx vom Provider (kein roher Upstream-Body)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Routing-Anfrage fehlgeschlagen" }

  /adsb.php:
    get:
      summary: Live ADS-B-Flugzeugdaten (Proxy)
      operationId: getAdsb
      responses:
        "200":
          description: "Aircraft-Daten (durchgereicht von adsb.oe5ith.at)"
          content:
            application/json:
              schema: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  code: { type: integer }
                  aircraft: { type: array, items: {} }

  /ais.php:
    get:
      summary: Live AIS-Schiffsdaten (Proxy)
      operationId: getAis
      responses:
        "200":
          description: "Ship-Daten (durchgereicht von ais.oe5ith.at)"
          content:
            application/json:
              schema: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /radiosonden-sondes.php:
    get:
      summary: Aktuell aktive Radiosonden (Proxy, GeoJSON)
      operationId: getRadiosondenSondes
      responses:
        "200":
          description: "GeoJSON FeatureCollection aktiver Sonden (durchgereicht von api.oe5ith.at/radiosonden/api/sondes)"
          content:
            application/json:
              schema: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  code: { type: integer }
                  type: { type: string, example: "FeatureCollection" }
                  features: { type: array, items: {} }

  /radiosonden-flights.php:
    get:
      summary: Radiosonden-Flüge, aktiv und abgeschlossen (Proxy)
      operationId: getRadiosondenFlights
      responses:
        "200":
          description: "Flugliste (durchgereicht von api.oe5ith.at/radiosonden/api/flights)"
          content:
            application/json:
              schema: { type: array, items: {} }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  code: { type: integer }
                  flights: { type: array, items: {} }

  /radiosonden-track.php:
    get:
      summary: Flugbahn einer Radiosonde (Proxy, GeoJSON LineString)
      operationId: getRadiosondenTrack
      parameters:
        - name: callsign
          in: query
          required: true
          description: "Muss ^[A-Za-z0-9._-]{1,32}$ entsprechen (serverseitig geprüft), sonst 400."
          schema: { type: string }
        - name: hours
          in: query
          required: false
          description: "Zeitfenster für die Flugbahn; ungültige Werte fallen serverseitig auf 24 zurück."
          schema: { type: number, default: 24, minimum: 0, exclusiveMinimum: true, maximum: 8760 }
      responses:
        "200":
          description: "GeoJSON LineString-Feature der Flugbahn (durchgereicht von api.oe5ith.at/radiosonden/api/sondes/{callsign}/track)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "callsign fehlt oder entspricht nicht dem erlaubten Muster"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid or missing callsign" }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  code: { type: integer }

  /diag.php:
    get:
      summary: Erweiterter Diagnose-Endpoint (PHP/DB/ORS-Konnektivität)
      operationId: getDiag
      x-internal: true
      description: >
        Interner Diagnose-Endpoint — kein stabiler Vertrag, nicht für Frontend-Konsum gedacht.
        BEKANNTES SECURITY-FINDING (siehe docs/security/owasp-top10-checklist.md, A01/A05): aktuell
        ohne Zugriffsschutz erreichbar, exponiert Infrastruktur-Details. Fix als TODO.md-Punkt erfasst.
      responses:
        "200":
          description: "Plaintext Diagnose-Report"
          content:
            text/plain:
              schema: { type: string }
