openapi: 3.0.3
info:
  title: OE5ITH GeoPortal API
  description: >
    Read-only Proxy/Aggregator-API über die Backend-DB und externe Services
    (ORS Routing, Nominatim Geocoder, ADS-B/AIS Live-Tracking). Kein
    Authentifizierungsmechanismus (öffentliches GeoPortal ohne Login-Konzept).
  version: "1.0.0"
  license:
    name: Proprietary
servers:
  - url: https://map.oe5ith.at/api
    description: Produktion
  - url: http://127.0.0.1:8081
    description: Lokale Entwicklung (npm run dev:api)

paths:
  /ping.php:
    get:
      summary: Health-Check
      operationId: getPing
      responses:
        "200":
          description: API ist erreichbar
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  time:
                    type: integer
                    description: Unix-Timestamp
              example:
                status: ok
                time: 1751234567
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /db.php:
    get:
      summary: Datenbank-Health-Check (reiner Status-Code, kein Body)
      operationId: getDbHealth
      responses:
        "200":
          description: DB-Verbindung erfolgreich (leerer Body)
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "500":
          description: >
            DB-Verbindung fehlgeschlagen (Body: {"error":...} bei Connection-Fehler,
            sonst leer)

  /nah.php:
    get:
      summary: Alle NAH-Luftrettungsstationen mit berechnetem Aktiv-Status
      operationId: getNahStations
      responses:
        "200":
          description: Liste aller Stationen mit Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  refresh_at:
                    type: string
                    format: date-time
                    nullable: true
                    description: Zeitpunkt des nächsten Status-Wechsels (ISO 8601), falls bekannt
                  stations:
                    type: array
                    items:
                      type: object
                      properties:
                        osm_id: { type: string }
                        name: { type: string }
                        callsign: { type: string }
                        region: { type: string }
                        op_type: { type: string, enum: ["24/7", "daylight", "fixed"] }
                        is_night_ready: { type: boolean }
                        fixed_start: { type: string, nullable: true, example: "07:00" }
                        fixed_end: { type: string, nullable: true, example: "19:00" }
                        lat: { type: number }
                        lon: { type: number }
                        is_active: { type: boolean }
                        in_season: { type: boolean }
                        months_active:
                          type: array
                          items: { type: integer }
                        calculated_start: { type: string, format: date-time, nullable: true }
                        calculated_end: { type: string, format: date-time, nullable: true }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /nearest-stations.php:
    get:
      summary: Nächstgelegene RD/NEF-Stationen zu einem Zielpunkt (mit ORS- oder Valhalla-Matrix-Fahrzeiten)
      operationId: getNearestStations
      parameters:
        - name: target
          in: query
          required: true
          schema: { type: string }
          description: "Koordinate als 'lat,lon'"
          example: "47.2692,11.4041"
        - name: type
          in: query
          required: false
          schema: { type: string, enum: [sew, nef], default: sew }
        - name: provider
          in: query
          required: false
          schema: { type: string, enum: [ors, valhalla], default: ors }
          description: Wählt das Routing-Backend für den Matrix-Aufruf (ORS `/matrix` bzw. Valhalla `/sources_to_targets`).
        - name: profile
          in: query
          required: false
          schema: { type: string, default: driving-car, pattern: "^[a-z0-9-]+$" }
          description: >
            Bedeutung ist abhängig von provider: bei provider=ors ein ORS-Routing-Profil
            (z.B. driving-car, driving-emergency), bei provider=valhalla ein
            Valhalla-Costing-String (z.B. auto, emergency, bicycle, pedestrian).
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 5 }
      responses:
        "200":
          description: Nach Fahrzeit sortierte Stationsliste
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    name: { type: string }
                    short_name: { type: string }
                    org: { type: string }
                    lat: { type: number }
                    lon: { type: number }
                    duration: { type: number, description: "Sekunden" }
                    distance: { type: number, description: "Meter" }
                    icon: { type: string }
        "400":
          description: "Parameter target fehlt, provider hat einen ungültigen Wert oder profile hat ein ungültiges Format"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "500":
          description: "Nur bei provider=valhalla: VALHALLA_URL nicht konfiguriert (api/config.local.php fehlt/unvollständig)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Server misconfigured: VALHALLA_URL not set in config.local.php" }

  /stations-by-region.php:
    get:
      summary: RD/NEF-Stationen eines Bundeslands
      operationId: getStationsByRegion
      parameters:
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Liste der Stationen im Bundesland
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    type: { type: string, enum: [RD, NEF] }
                    name: { type: string }
                    short_name: { type: string }
                    org: { type: string }
        "400":
          description: "Parameter state fehlt"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "500":
          description: "Datenbankfehler"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /stats.php:
    get:
      summary: Aggregierte Statistiken (NAH aktiv/gesamt pro Region, RD/NEF-Anzahl pro Bundesland)
      operationId: getStats
      responses:
        "200":
          description: Statistik-Aggregation
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated_at: { type: string, format: date-time }
                  nah:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        total: { type: integer }
                        active: { type: integer }
                  rd:
                    type: object
                    additionalProperties: { type: integer }
                  nef:
                    type: object
                    additionalProperties: { type: integer }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /geocoder.php:
    get:
      summary: Adress-Suche oder Reverse-Geocoding (Nominatim-Proxy)
      operationId: geocode
      parameters:
        - name: q
          in: query
          required: false
          schema: { type: string }
          description: "Suchbegriff (für Vorwärtssuche)"
        - name: lat
          in: query
          required: false
          schema: { type: string }
        - name: lon
          in: query
          required: false
          schema: { type: string }
        - name: reverse
          in: query
          required: false
          schema: { type: boolean }
          description: "Flag für Reverse-Geocoding (mit lat/lon)"
      responses:
        "200":
          description: "Nominatim-Response (durchgereicht), leeres Array wenn kein Parameter gesetzt"
          content:
            application/json:
              schema:
                type: array
                items: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }

  /ors.php:
    get:
      summary: Proxy zu OpenRouteService (GET, z.B. Health-Check) — Allowlist-Pfade
      operationId: proxyOrsGet
      parameters:
        - name: path
          in: query
          required: false
          schema:
            type: string
            default: health
          description: >
            Fester Wert (health/status) oder Muster directions/{profil}/geojson,
            matrix/{profil}, isochrones/{profil}, export/{profil} bzw.
            export/{profil}/topojson — alles andere liefert 400.
            Kein Host-Override möglich (fest an ORS_URL angehängt).
      responses:
        "200":
          description: "ORS-Response (durchgereicht)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "path entspricht keinem erlaubten Muster"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid path" }
        "504":
          description: >
            Gateway-Timeout vom ORS-Backend durchgereicht (z.B. bei export/{profil} mit zu
            großer Bbox) — der Client (GraphSidebarAdapter) behandelt diesen Status gezielt
            getrennt von anderen Fehlern.
          content:
            application/json:
              schema: { type: object }
    post:
      summary: Proxy zu OpenRouteService (POST, z.B. Routing/Matrix/Isochrones/Graph-Export mit Body) — Allowlist-Pfade
      operationId: proxyOrsPost
      parameters:
        - name: path
          in: query
          required: false
          schema: { type: string, default: health }
          description: "Gleiche Allowlist wie beim GET-Zweig."
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: "ORS-Response (durchgereicht)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "path entspricht keinem erlaubten Muster"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid path" }
        "504":
          description: >
            Gateway-Timeout vom ORS-Backend durchgereicht (z.B. bei export/{profil} mit zu
            großer Bbox) — der Client (GraphSidebarAdapter) behandelt diesen Status gezielt
            getrennt von anderen Fehlern.
          content:
            application/json:
              schema: { type: object }

  /valhalla.php:
    get:
      summary: >
        Proxy zu einer selbst gehosteten Valhalla-Testinstanz (GET, z.B. Health-Check via
        path=status) — nur für den lokalen Dev-Server, kein Produktions-Deploy vorgesehen
        (in nginx.conf per deny-all blockiert)
      operationId: proxyValhallaGet
      parameters:
        - name: path
          in: query
          required: false
          schema:
            type: string
            default: status
            enum: [route, status]
          description: >
            Feste Allowlist (route/status) — alles andere liefert 400. Kein Host-Override möglich
            (fest an VALHALLA_URL angehängt, nur über api/config.local.php setzbar, kein
            Produktions-Default).
      responses:
        "200":
          description: "Valhalla-Response (durchgereicht)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "path entspricht keinem erlaubten Wert"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid path" }
        "500":
          description: "VALHALLA_URL nicht konfiguriert (api/config.local.php fehlt/unvollständig)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Server misconfigured: VALHALLA_URL not set in config.local.php" }
    post:
      summary: >
        Proxy zu einer selbst gehosteten Valhalla-Testinstanz (POST, Routenberechnung via
        path=route) — nur für den lokalen Dev-Server, kein Produktions-Deploy vorgesehen
        (in nginx.conf per deny-all blockiert)
      operationId: proxyValhallaPost
      parameters:
        - name: path
          in: query
          required: false
          schema: { type: string, default: status, enum: [route, status] }
          description: "Gleiche Allowlist wie beim GET-Zweig."
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: "Valhalla-Response (durchgereicht)"
          content:
            application/json:
              schema: { type: object }
        "400":
          description: "path entspricht keinem erlaubten Wert"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Invalid path" }
        "500":
          description: "VALHALLA_URL nicht konfiguriert"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /adsb.php:
    get:
      summary: Live ADS-B-Flugzeugdaten (Proxy)
      operationId: getAdsb
      responses:
        "200":
          description: "Aircraft-Daten (durchgereicht von adsb.oe5ith.at)"
          content:
            application/json:
              schema: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  code: { type: integer }
                  aircraft: { type: array, items: {} }

  /ais.php:
    get:
      summary: Live AIS-Schiffsdaten (Proxy)
      operationId: getAis
      responses:
        "200":
          description: "Ship-Daten (durchgereicht von ais.oe5ith.at)"
          content:
            application/json:
              schema: { type: object }
        "405":
          description: Nicht erlaubte HTTP-Methode (nur GET)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Method not allowed" }
        "502":
          description: "Upstream nicht erreichbar"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /diag.php:
    get:
      summary: Erweiterter Diagnose-Endpoint (PHP/DB/ORS-Konnektivität)
      operationId: getDiag
      x-internal: true
      description: >
        Interner Diagnose-Endpoint — kein stabiler Vertrag, nicht für Frontend-Konsum gedacht.
        BEKANNTES SECURITY-FINDING (siehe docs/security/owasp-top10-checklist.md, A01/A05): aktuell
        ohne Zugriffsschutz erreichbar, exponiert Infrastruktur-Details. Fix als TODO.md-Punkt erfasst.
      responses:
        "200":
          description: "Plaintext Diagnose-Report"
          content:
            text/plain:
              schema: { type: string }
